.warning{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFB6C1;
  text-align: left;
  border-radius: 10px;
}

div.container { 
    width:1000px;
}

table {
    margin: 20px 10px;
} 

hr.solid {
 border-top: 3px solid rgb(204, 191, 191);
}
h3 {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: left;
      padding: 12px;
}
p {
 font-family:'Trebuchet MS', sans-serif;
 text-align: left;
}
a {	
 text-align: left;
}
table {
 text-align: left;
}
form {
 text-align: left;
  }
.deletebutton {
 border: none;
 padding: 0;
 background: none;
}

  table {
      padding: 12px;
      margin: 20px 10px;
  } 

  h4 {
   text-align: left;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 12px;
  }
  p {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: left;
      padding: 12px;
  }
  form {
    text-align: left;
      padding: 12px;
  }

  .overdue{
      background-color: red;
  }

  .on-time{
      background-color: green;
  }
  span {
    color: red;
  }
  ul {
    text-align: left;
    color: red;
  }

  * {
  box-sizing: border-box;
}

  table{
      width:100%;
  }
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
body.user-HelpPage-body{
  background-image: url("background.png");
  background-size: 60%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.summaryStyle{
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  div.map{
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: rgb(32, 8, 54);
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: 5%;
    outline: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    position: relative;

  }
  details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  details[open] summary ~ * {
    animation: sweep .7s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
  }
  .faq__content{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold; 
    font-family: 'georgia';
    text-decoration: double;

  }