<!-- This is the base file for all employee and manager pages -->

{% include "base.html" %}

<!--navigation bar-->
<!--all page share this base-->
<div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">Scooters!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if current_user.account_type == 1 %}
              <li class="nav-item"><a class="nav-link" href="#">Employee homepage <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Change details</a></li>
              <li class="nav-item"><a class="nav-link" href="/addingScooter">Adding Scooters</a></li>
              <li class="nav-item"><a class="nav-link" href="/employee/userFeedback">Feedback management</a></li>
              <li class="nav-item"><a class="nav-link" href="/GuestUsers">Guest Booking</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Book unregistered users</a></li
              <li class="nav-item"><a class="nav-link" href="/userChangePassword">Change password</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          {% else %}
              <li class="nav-item"><a class="nav-link" href="#">Manager homepage <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Change details</a></li>
              <li class="nav-item"><a class="nav-link" href="/managerCreateEmployee">Create new employee</a></li>
              <li class="nav-item"><a class="nav-link" href="/managerEmployeeSearch">Edit existing employee</a></li>
              <li class="nav-item"><a class="nav-link" href="/GuestUsers">Guest Booking</a></li>
              <li class="nav-item"><a class="nav-link" href="/addingScooter">Adding Scooters</a></li>
              <li class="nav-item"><a class="nav-link" href="/manager/userFeedback">Feedback management</a></li>
              <li class="nav-item"><a class="nav-link" href="/configureScooters">Configure Scooter Details</a></li>
              <li class="nav-item"><a class="nav-link" href="/configureCost">Configure Scooter Cost</a></li>
              <li class="nav-item"><a class="nav-link" href="/incomeReports">Income reports</a></li>
              <li class="nav-item"><a class="nav-link" href="/userChangePassword">Change password</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>


  <!--main content of the page-->
  <div class="block_content">
    {% block content %}{% endblock %}
  </div>

</div>
