<!-- This is the separate base file for all user pages -->
<!-- This is the base file for all employee and manager pages -->

{% include "base.html" %}

{# bring in more css if needed #}
{% block css %} {% endblock css %}
<!--navigation bar-->
<!--all page share this base-->
<div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="/user"><img id = "dino" src="https://images.fineartamerica.com/images/artworkimages/medium/2/dinosaur-rides-pedalscooter-mister-tee-transparent.png" alt="dino logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="/user">User homepage<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="/selectlocation">Book a scooter</a></li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sessions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/user/activeSessions">Manage Active Sessioons</a>
                  <a class="dropdown-item" href="/user/futureSessions">Manage Future Sessions</a>
                  <a class="dropdown-item" href="/user/viewSessions">View Previous Sessions</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/userChangeDetails">Change Account Details</a>
                  <a class="dropdown-item" href="/userChangePassword">Change Password</a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          {% else %}
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

  <!--main content of the page-->
  <body class="sl">
    {% block content %}
    {% endblock %}
  </body>

</div>
