<!-- This is where users can see which scooters they have rented out and where they can return active scooters -->

{% extends "baseEmployeeManager.html" %}
  <div class="block_content">
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container">
     <div class="ListScoot">
    <h1>Configure Scooters</h1>
     </div>
<form action="" method="post" name="configurescooter">
    {{ form.hidden_tag() }}
    <div class="form">
        <div class="subheading">
            Hourly cost for all scooters
        </div>
    <p>{{ form.cost(class_='form-control')}}</p>
    {% for error in form.cost.errors %}
       <span>[{{ error }}] </span>
       {% endfor %}
    </div>
    <div class="button">
        <input type="submit" class="submit" value="Update Cost">
    </div>
</form>
{% endblock %}
  </div>
</div>
