<!-- This is where users can see which scooters they have rented out and where they can return active scooters -->

{% extends "baseEmployeeManager.html" %}
  <div class="block_content">
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container">
  <h1>Configure Scooters</h1>
<form action="" method="post" name="configurescooter">
    {{ form.hidden_tag() }}
    <div class="subheading">
      Scooter ID
    </div>
    <p>
       {{ form.id(class_='form-control')}}<br>
       {% for error in form.id.errors %}
       <span>[{{ error }}] </span>
       {% endfor %}
    </p>
    <div class="subheading">
      Availability
    </div>
    <p>{{ form.availability(class_='form-control')}}</p>
    {% for error in form.availability.errors %}
       <span>[{{ error }}] </span>
       {% endfor %}
    <div class="subheading">
        Location
    </div>
    <p>{{ form.location(class_='form-control')}}</p>
    {% for error in form.location.errors %}
       <span>[{{ error }}] </span>
       {% endfor %}
    <div class="button">
        <input type="submit" class="submit" value="Update Scooter Details">
    </div>
</form>
    </div>
{% endblock %}
</div>
