
<!-- This is the homepage for the website. From here you can log-in or register -->

{% extends "baseUser.html" %}

{% block content %}

    <title>Home</title>
    <img id = "bigLogo" src="https://images.fineartamerica.com/images/artworkimages/medium/2/dinosaur-rides-pedalscooter-mister-tee-transparent.png" alt="dino logo">
    <h1>Welcome to DinoScooters!</h1>

    <p>Welcome to the home of dino-mite scooters in Leeds</p>
    <p>Through our page you can hire scooters all across the city!</p>

    <p>Click <a href="/register">here</a> to register</p>
    <p>Click <a href="/login">here</a> to log-in</p>

    <i>Please make sure not to ride our scooters too quick and become a tyrannosaurus wreck!</i>

{% endblock %}
