<!-- This html file is to be used for the user to log-in. -->
<!-- Within the file it should have a short log-in form, as well as a link to the register page -->
<!-- If possible we should also add in a 'remember me' button -->

{% extends "baseUser.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block content %}
<div class="ListScoot">
    <h1>Login</h1>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages }}
    {% endif %}
{% endwith %}

<form method="post" , action="/login" name="login_form">
  {{ form.hidden_tag() }}

    <div class="form">
    Email: {{ form.email(class_='form-control', type = 'email') }}
    {% for error in form.email.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Password: {{ form.password(class_='form-control') }}
    {% for error in form.password.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>
    </div>
    <div class="subheading">
        Remember me
    </div>
    <br>
    <div class="rememberme" , style="height: 20px; width: 20px;">{{ form.rememberMe(class_='checkbox') }}
    </div><br>
    <br>

    <div class="button">
        <input type="submit" class="button" value="Login">
    </div>
</form>

{% endblock %}
