<!-- This is where the manager can see all of the information on company income etc. -->

{% extends "baseEmployeeManager.html" %}
  <div class="block_content">
    {% block content %}

    <h1>Passive income</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post", action="">
      {{ form.hidden_tag() }}

        Please select a start date: {{ form.date(class_='form-control') }}
        {% for error in form.date.errors %}
        <span class="warning">[{{ error }}]</span>
        {% endfor %}<br>

        <input type="submit" class="button" value="Submit">
    </form>

    {% if income %}

    {% endif %}

    {% endblock %}
  </div>
