<!-- This is where the manager can see all of the information on company income etc. -->

{% extends "baseEmployeeManager.html" %}
  <div class="block_content">
    {% block content %}

    <h1>Passive income</h1>

    <form method="post", action="">
      {{ form.hidden_tag() }}

        Please select a start date: {{ form.date(class_='form-control') }}
        {% for error in form.date.errors %}
        <span class="warning">[{{ error }}]</span>
        {% endfor %}<br>

        <input type="submit" class="button" value="Submit">
    </form>

    {% if result %}
    <table border="1">
      <tr>
        <td>Hire length</td>
        <td>No. of session</td>
        <td>Total income</td>
      </tr>
      <tr>
        <td>One hour</td>
        <td>{{ result[0][0] }}</td>
        <td>{{ result[0][1] }}</td>
      </tr>
      <tr>
        <td>Four hour</td>
        <td>{{ result[1][0] }}</td>
        <td>{{ result[1][1] }}</td>
      </tr>
      <tr>
        <td>One day</td>
        <td>{{ result[2][0] }}</td>
        <td>{{ result[2][1] }}</td>
      </tr>
      <tr>
        <td>One week</td>
        <td>{{ result[3][0] }}</td>
        <td>{{ result[3][1] }}</td>
      </tr>
      <tr>
        <td>Other (extended)</td>
        <td>{{ result[4][0] }}</td>
        <td>{{ result[4][1] }}</td>
      </tr>
    </table>

    <p>Popular hire length ranking:</p>
    {% for i in freq %}
    <p>{{ i[0] }}</p>
    {% endfor %}

      <canvas id="chart" width="600" height="400"></canvas>
      <script>

        // bar chart data
        var barData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],

          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [{% for item in values %}
                      {{ item }},
                    {% endfor %}]
            }]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;

        // get bar chart canvas
        var mychart = document.getElementById("chart").getContext("2d");

        steps = 10
        max = {{ max }}
        // draw bar chart
        var LineChartDemo = new Chart(mychart).Line(barData, {
          scaleOverride: true,
          scaleSteps: steps,
          scaleStepWidth: Math.ceil(max / steps),
          scaleStartValue: 0,
          scaleShowVerticalLines: true,
          scaleShowGridLines : true,
          barShowStroke : true,
          scaleShowLabels: true,
          bezierCurve: false,
        });

      </script>
    </center>

    {% endif %}
    {% endblock %}
  </div>
