<!-- This is where the manager can view all employees and perform basic CRUD operations -->

{% extends "baseEmployeeManager.html" %}
  <div class="block_content">
    {% block content %}
        <form method="post" , action="/managerCreateEmployee">
  {{ form.hidden_tag() }}

    Forename: {{ form.forename(class_='form-control') }}
    {% for error in form.forename.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Surname: {{ form.surname(class_='form-control') }}
    {% for error in form.surname.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Email: {{ form.email(class_='form-control', type = 'email') }}
    {% for error in form.email.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Phone: {{ form.phone(class_='form-control') }}
    {% for error in form.phone.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    National Insurance Number: {{ form.national_insurance_number(class_='form-control') }}
    {% for error in form.national_insurance_number.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Account Type: {{ form.account_type(class_='form-control') }}
    {% for error in form.account_type.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Password: {{ form.password(class_='form-control') }}
    {% for error in form.password.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    <input type="submit" class="button" value="Submit">
</form>
    {% endblock %}
  </div>
