<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_599e356249584f84ae90c0887a339e09 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_599e356249584f84ae90c0887a339e09" ></div>
        
</body>
<script>    
    
            var map_599e356249584f84ae90c0887a339e09 = L.map(
                "map_599e356249584f84ae90c0887a339e09",
                {
                    center: [53.801277, -1.548567],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b0f3d218a3a64ae1b4a5279f597bd498 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_599e356249584f84ae90c0887a339e09);
        
    
            var marker_af161f1e0a1c46e7818f9dadd7516cd5 = L.marker(
                [53.7966, -1.5445],
                {}
            ).addTo(map_599e356249584f84ae90c0887a339e09);
        
    
        var popup_6ced6c4c6e7c44dcb1ffb44091a549f2 = L.popup({"maxWidth": "100%"});

        
            var html_58a4f1e964c049dbb8afe1ae4f045847 = $(`<div id="html_58a4f1e964c049dbb8afe1ae4f045847" style="width: 100.0%; height: 100.0%;">Trinity centre</div>`)[0];
            popup_6ced6c4c6e7c44dcb1ffb44091a549f2.setContent(html_58a4f1e964c049dbb8afe1ae4f045847);
        

        marker_af161f1e0a1c46e7818f9dadd7516cd5.bindPopup(popup_6ced6c4c6e7c44dcb1ffb44091a549f2)
        ;

        
    
    
            marker_af161f1e0a1c46e7818f9dadd7516cd5.bindTooltip(
                `<div>
                     Trinity centre
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a64bf763948147cb8090a79733c30575 = L.marker(
                [53.795, -1.5474],
                {}
            ).addTo(map_599e356249584f84ae90c0887a339e09);
        
    
        var popup_35a1d05e30574a258919a0154c8db15d = L.popup({"maxWidth": "100%"});

        
            var html_073bcd1f5f0b48e287cdb57805918cbd = $(`<div id="html_073bcd1f5f0b48e287cdb57805918cbd" style="width: 100.0%; height: 100.0%;">Train station</div>`)[0];
            popup_35a1d05e30574a258919a0154c8db15d.setContent(html_073bcd1f5f0b48e287cdb57805918cbd);
        

        marker_a64bf763948147cb8090a79733c30575.bindPopup(popup_35a1d05e30574a258919a0154c8db15d)
        ;

        
    
    
            marker_a64bf763948147cb8090a79733c30575.bindTooltip(
                `<div>
                     Train station
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e8b46fda0ed64be1b56b1e6c6c5c7646 = L.marker(
                [53.801163462, -1.53999784],
                {}
            ).addTo(map_599e356249584f84ae90c0887a339e09);
        
    
        var popup_bb45d3e653e0495ea71a71db4006c207 = L.popup({"maxWidth": "100%"});

        
            var html_70dc8ab34e98418eab58c61852ce3763 = $(`<div id="html_70dc8ab34e98418eab58c61852ce3763" style="width: 100.0%; height: 100.0%;">Merrion centre</div>`)[0];
            popup_bb45d3e653e0495ea71a71db4006c207.setContent(html_70dc8ab34e98418eab58c61852ce3763);
        

        marker_e8b46fda0ed64be1b56b1e6c6c5c7646.bindPopup(popup_bb45d3e653e0495ea71a71db4006c207)
        ;

        
    
    
            marker_e8b46fda0ed64be1b56b1e6c6c5c7646.bindTooltip(
                `<div>
                     Merrion centre
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_696f241e936e40aaac342cd7aa1b74bb = L.marker(
                [53.80208, -1.55083],
                {}
            ).addTo(map_599e356249584f84ae90c0887a339e09);
        
    
        var popup_3d5677782da147bd8e6ffd99f53416db = L.popup({"maxWidth": "100%"});

        
            var html_974cc950975843e68732502d80a7134b = $(`<div id="html_974cc950975843e68732502d80a7134b" style="width: 100.0%; height: 100.0%;">LGI hospital</div>`)[0];
            popup_3d5677782da147bd8e6ffd99f53416db.setContent(html_974cc950975843e68732502d80a7134b);
        

        marker_696f241e936e40aaac342cd7aa1b74bb.bindPopup(popup_3d5677782da147bd8e6ffd99f53416db)
        ;

        
    
    
            marker_696f241e936e40aaac342cd7aa1b74bb.bindTooltip(
                `<div>
                     LGI hospital
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1b170399b8b5434f9e504a21f50ac9cd = L.marker(
                [53.8042, -1.5532],
                {}
            ).addTo(map_599e356249584f84ae90c0887a339e09);
        
    
        var popup_85ce810f97c8412fbbfc852e9bf19431 = L.popup({"maxWidth": "100%"});

        
            var html_0ca0b918c82f44e39b9481eb9bd0630f = $(`<div id="html_0ca0b918c82f44e39b9481eb9bd0630f" style="width: 100.0%; height: 100.0%;">UoL Edge sports centre</div>`)[0];
            popup_85ce810f97c8412fbbfc852e9bf19431.setContent(html_0ca0b918c82f44e39b9481eb9bd0630f);
        

        marker_1b170399b8b5434f9e504a21f50ac9cd.bindPopup(popup_85ce810f97c8412fbbfc852e9bf19431)
        ;

        
    
    
            marker_1b170399b8b5434f9e504a21f50ac9cd.bindTooltip(
                `<div>
                     UoL Edge sports centre
                 </div>`,
                {"sticky": true}
            );
        
</script>