<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0c95f547543a428bbe5a68760c2a5be7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0c95f547543a428bbe5a68760c2a5be7" ></div>
        
</body>
<script>    
    
            var map_0c95f547543a428bbe5a68760c2a5be7 = L.map(
                "map_0c95f547543a428bbe5a68760c2a5be7",
                {
                    center: [53.801277, -1.548567],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0a4c6050ccb545fa9bcaad6451ca5795 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0c95f547543a428bbe5a68760c2a5be7);
        
    
            var marker_adf7c0b6c17d4df89fef2ea97456ec02 = L.marker(
                [53.7966, -1.5445],
                {}
            ).addTo(map_0c95f547543a428bbe5a68760c2a5be7);
        
    
        var popup_e2170b749a0e4c0ebe90532e0745d165 = L.popup({"maxWidth": "100%"});

        
            var html_51a05476403346148366129f31cd5eed = $(`<div id="html_51a05476403346148366129f31cd5eed" style="width: 100.0%; height: 100.0%;">Trinity centre</div>`)[0];
            popup_e2170b749a0e4c0ebe90532e0745d165.setContent(html_51a05476403346148366129f31cd5eed);
        

        marker_adf7c0b6c17d4df89fef2ea97456ec02.bindPopup(popup_e2170b749a0e4c0ebe90532e0745d165)
        ;

        
    
    
            marker_adf7c0b6c17d4df89fef2ea97456ec02.bindTooltip(
                `<div>
                     Trinity centre
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d4b92bad6fed4e9cab04ba2c4741db96 = L.marker(
                [53.795, -1.5474],
                {}
            ).addTo(map_0c95f547543a428bbe5a68760c2a5be7);
        
    
        var popup_6b568820c22f435f82adcde0e27f33cc = L.popup({"maxWidth": "100%"});

        
            var html_8216a8f198944573ab44a31df988ccb6 = $(`<div id="html_8216a8f198944573ab44a31df988ccb6" style="width: 100.0%; height: 100.0%;">Train station</div>`)[0];
            popup_6b568820c22f435f82adcde0e27f33cc.setContent(html_8216a8f198944573ab44a31df988ccb6);
        

        marker_d4b92bad6fed4e9cab04ba2c4741db96.bindPopup(popup_6b568820c22f435f82adcde0e27f33cc)
        ;

        
    
    
            marker_d4b92bad6fed4e9cab04ba2c4741db96.bindTooltip(
                `<div>
                     Train station
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_36a4315e7dbc4df7810dfed3c219fbbf = L.marker(
                [53.801163462, -1.53999784],
                {}
            ).addTo(map_0c95f547543a428bbe5a68760c2a5be7);
        
    
        var popup_1b3aa4ba42404e82a5be07e9dede25d2 = L.popup({"maxWidth": "100%"});

        
            var html_1ecc8eda3d5d4b8788202e7a67c55329 = $(`<div id="html_1ecc8eda3d5d4b8788202e7a67c55329" style="width: 100.0%; height: 100.0%;">Merrion centre</div>`)[0];
            popup_1b3aa4ba42404e82a5be07e9dede25d2.setContent(html_1ecc8eda3d5d4b8788202e7a67c55329);
        

        marker_36a4315e7dbc4df7810dfed3c219fbbf.bindPopup(popup_1b3aa4ba42404e82a5be07e9dede25d2)
        ;

        
    
    
            marker_36a4315e7dbc4df7810dfed3c219fbbf.bindTooltip(
                `<div>
                     Merrion centre
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4ff626b00e50458d9ac0017257371577 = L.marker(
                [53.80208, -1.55083],
                {}
            ).addTo(map_0c95f547543a428bbe5a68760c2a5be7);
        
    
        var popup_ca07ee84739a4aa78c790b4121d355fb = L.popup({"maxWidth": "100%"});

        
            var html_64203a6cbb7d459d8351754125b3733d = $(`<div id="html_64203a6cbb7d459d8351754125b3733d" style="width: 100.0%; height: 100.0%;">LGI hospital</div>`)[0];
            popup_ca07ee84739a4aa78c790b4121d355fb.setContent(html_64203a6cbb7d459d8351754125b3733d);
        

        marker_4ff626b00e50458d9ac0017257371577.bindPopup(popup_ca07ee84739a4aa78c790b4121d355fb)
        ;

        
    
    
            marker_4ff626b00e50458d9ac0017257371577.bindTooltip(
                `<div>
                     LGI hospital
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_435048f43874486a9b1c876409da6233 = L.marker(
                [53.8042, -1.5532],
                {}
            ).addTo(map_0c95f547543a428bbe5a68760c2a5be7);
        
    
        var popup_776da5c61eb3498295f971aa26188940 = L.popup({"maxWidth": "100%"});

        
            var html_badf22b0ca564ce9b487c82dc0320fea = $(`<div id="html_badf22b0ca564ce9b487c82dc0320fea" style="width: 100.0%; height: 100.0%;">UoL Edge sports centre</div>`)[0];
            popup_776da5c61eb3498295f971aa26188940.setContent(html_badf22b0ca564ce9b487c82dc0320fea);
        

        marker_435048f43874486a9b1c876409da6233.bindPopup(popup_776da5c61eb3498295f971aa26188940)
        ;

        
    
    
            marker_435048f43874486a9b1c876409da6233.bindTooltip(
                `<div>
                     UoL Edge sports centre
                 </div>`,
                {"sticky": true}
            );
        
</script>