<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_078afc9ed1b3413facd1d23760d426f3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_078afc9ed1b3413facd1d23760d426f3" ></div>
        
</body>
<script>    
    
            var map_078afc9ed1b3413facd1d23760d426f3 = L.map(
                "map_078afc9ed1b3413facd1d23760d426f3",
                {
                    center: [53.801277, -1.548567],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_09997c531e964c04b411eeac5602394d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_078afc9ed1b3413facd1d23760d426f3);
        
    
            var marker_6a1b86ebf62e4f2eae66f1b6a2374948 = L.marker(
                [53.7966, -1.5445],
                {}
            ).addTo(map_078afc9ed1b3413facd1d23760d426f3);
        
    
        var popup_e4fa02cfb48b43c3a8c57f5a22dbacee = L.popup({"maxWidth": "100%"});

        
            var html_e1075af750fc40438a96b9b7421314c1 = $(`<div id="html_e1075af750fc40438a96b9b7421314c1" style="width: 100.0%; height: 100.0%;">Trinity centre</div>`)[0];
            popup_e4fa02cfb48b43c3a8c57f5a22dbacee.setContent(html_e1075af750fc40438a96b9b7421314c1);
        

        marker_6a1b86ebf62e4f2eae66f1b6a2374948.bindPopup(popup_e4fa02cfb48b43c3a8c57f5a22dbacee)
        ;

        
    
    
            marker_6a1b86ebf62e4f2eae66f1b6a2374948.bindTooltip(
                `<div>
                     Trinity centre
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f2f454a47fd849c9b7c30dcd12d8758d = L.marker(
                [53.795, -1.5474],
                {}
            ).addTo(map_078afc9ed1b3413facd1d23760d426f3);
        
    
        var popup_a947d6b00a6440e68567a44bb9a505d4 = L.popup({"maxWidth": "100%"});

        
            var html_b9f22e948e5d4f41b5b341ae39459cc4 = $(`<div id="html_b9f22e948e5d4f41b5b341ae39459cc4" style="width: 100.0%; height: 100.0%;">Train station</div>`)[0];
            popup_a947d6b00a6440e68567a44bb9a505d4.setContent(html_b9f22e948e5d4f41b5b341ae39459cc4);
        

        marker_f2f454a47fd849c9b7c30dcd12d8758d.bindPopup(popup_a947d6b00a6440e68567a44bb9a505d4)
        ;

        
    
    
            marker_f2f454a47fd849c9b7c30dcd12d8758d.bindTooltip(
                `<div>
                     Train station
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_290c9fa8ab2143438959103f6bb600c0 = L.marker(
                [53.801163462, -1.53999784],
                {}
            ).addTo(map_078afc9ed1b3413facd1d23760d426f3);
        
    
        var popup_f1a8e672d39444c79144c10c278de865 = L.popup({"maxWidth": "100%"});

        
            var html_4f6e17e173cf4444933cf56f4ebebfc3 = $(`<div id="html_4f6e17e173cf4444933cf56f4ebebfc3" style="width: 100.0%; height: 100.0%;">Merrion centre</div>`)[0];
            popup_f1a8e672d39444c79144c10c278de865.setContent(html_4f6e17e173cf4444933cf56f4ebebfc3);
        

        marker_290c9fa8ab2143438959103f6bb600c0.bindPopup(popup_f1a8e672d39444c79144c10c278de865)
        ;

        
    
    
            marker_290c9fa8ab2143438959103f6bb600c0.bindTooltip(
                `<div>
                     Merrion centre
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_571aa90f43c74802b446af15a58f8b7e = L.marker(
                [53.80208, -1.55083],
                {}
            ).addTo(map_078afc9ed1b3413facd1d23760d426f3);
        
    
        var popup_f7eddf87a68e4c2bb131623d7b67a4df = L.popup({"maxWidth": "100%"});

        
            var html_1c9f646c09d845d9be9abe86972dbc8e = $(`<div id="html_1c9f646c09d845d9be9abe86972dbc8e" style="width: 100.0%; height: 100.0%;">LGI hospital</div>`)[0];
            popup_f7eddf87a68e4c2bb131623d7b67a4df.setContent(html_1c9f646c09d845d9be9abe86972dbc8e);
        

        marker_571aa90f43c74802b446af15a58f8b7e.bindPopup(popup_f7eddf87a68e4c2bb131623d7b67a4df)
        ;

        
    
    
            marker_571aa90f43c74802b446af15a58f8b7e.bindTooltip(
                `<div>
                     LGI hospital
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8543ba7b717641b6b22c82650abd6dbe = L.marker(
                [53.8042, -1.5532],
                {}
            ).addTo(map_078afc9ed1b3413facd1d23760d426f3);
        
    
        var popup_46e3636c52d340b0adebd771bcef00af = L.popup({"maxWidth": "100%"});

        
            var html_9f2411d377d2463b9d6923ddbab66418 = $(`<div id="html_9f2411d377d2463b9d6923ddbab66418" style="width: 100.0%; height: 100.0%;">UoL Edge sports centre</div>`)[0];
            popup_46e3636c52d340b0adebd771bcef00af.setContent(html_9f2411d377d2463b9d6923ddbab66418);
        

        marker_8543ba7b717641b6b22c82650abd6dbe.bindPopup(popup_46e3636c52d340b0adebd771bcef00af)
        ;

        
    
    
            marker_8543ba7b717641b6b22c82650abd6dbe.bindTooltip(
                `<div>
                     UoL Edge sports centre
                 </div>`,
                {"sticky": true}
            );
        
</script>