<!-- THis is where new users register their accounts -->

{% extends "base.html" %}

{% block content %}

<h1>Register</h1>

<form method="post", action="/login">
  {{ form.hidden_tag() }}

    User name: {{ form.username(class_='form-control') }}
    {% for error in form.username.errors %}
    <span class="small_warning">[{{ error }}]</span>
    {% endfor %}<br>

    Email: {{ form.email(class_='form-control', type = 'email') }}
    {% for error in form.email.errors %}
    <span class="small_warning">[{{ error }}]</span>
    {% endfor %}<br>

    Phone: {{ form.phone(class_='form-control') }}
    {% for error in form.phone.errors %}
    <span class="small_warning">[{{ error }}]</span>
    {% endfor %}<br>

    Password: {{ form.password(class_='form-control') }}
    {% for error in form.password.errors %}
    <span class="small_warning">[{{ error }}]</span>
    {% endfor %}<br>

    {{ form.rememberMe(class_='form-control') }} Remember me

    <input type="submit" class="button" value="Submit">
</form>

{% endblock %}
