<!-- THis is where new users register their accounts -->

{% extends "baseUser.html" %}

{% block content %}

<h1>Register</h1>

<form method="post", action="/register">
  {{ form.hidden_tag() }}

    Email: {{ form.email(class_='form-control', type = 'email') }}
    {% for error in form.email.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Phone: {{ form.phone(class_='form-control') }}
    {% for error in form.phone.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Password: {{ form.password(class_='form-control') }}
    {% for error in form.password.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    <input type="submit" class="button" value="Submit">
</form>

{% endblock %}
