<!-- THis is where new users register their accounts -->

{% extends "baseUser.html" %}
<link rel="stylesheet" href="/static/forms.css">
{% block content %}
<div class="ListScoot">
    <h1>Create a new account</h1>
</div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<form method="post", action="/register">
  {{ form.hidden_tag() }}
  <div class="form">
    {{ form.forename(class_='form-control') }}
    {% for error in form.forename.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    {{ form.surname(class_='form-control') }}
    {% for error in form.surname.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    {{ form.email(class_='form-control', type = 'email') }}
    {% for error in form.email.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    {{ form.phone(class_='form-control') }}
    {% for error in form.phone.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    {{ form.password(class_='form-control') }}
    {% for error in form.password.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>
  </div>
    <div class="subheading">
        Are you a student / Are you over 65?
    </div>
    <br>
    <div class="rememberme" , style="height: 20px; width: 20px;">{{ form.discount(class_='checkbox') }}
    </div><br>
    <br>

    <div class="button">
        <input type="submit" class="button" value="Register">
    </div>

    {% if error_message %}
    <div class="alert alert-primary" role="alert">
      {{error_message}}
    </div>
  {% endif%}
</form>

{% endblock %}
