<!-- This is where the manager can see the list of scooters and their availability -->


{% extends "baseEmployeeManager.html" %}
  <div class="block_content">
    {% block content %}
    <div class="ListScoot">

    <h1>List of Scooters</h1>
  <table class ="ListScootTable">

  <tr>
    <th>Scooter id</th>
    <th>Location</th>
    <th>Availability</th>
  </tr>
  {% for scooter in ListS%}
  <tr>
    <td>{{scooter.id}}</td>
  {% for location in ListL%}
  {%if scooter.location_id == location.id %}
    <td>{{location.address}}</td>
  {% endif %}
  {% endfor %}
    <td>{{scooter.availability}}</td>
  </tr>
  {% endfor %}
</table>



</div>

    {% endblock %}
  </div>
