<!-- This is where the manager can see the list of scooters and their availability -->
<h1>List of Scooters</h1>

{% extends "baseEmployeeManager.html" %}
  <div class="block_content">
    {% block content %}
    <ul>
      {% for scooter in ListS%}
      <li><h3>Scooter {{scooter.id}}:</h3></li>
      <h4>availability: {{scooter.availability}}</h4>
      {% for location in ListL%}
      {%if scooter.location_id == location.id %}
      <h5>Location: {{location.address}}</h5>
      {% endif %}
      {% endfor %}
      <hr>
      {% endfor %}
    </ul>


    {% endblock %}
  </div>
