<!-- This is where the user looks at available scooters and books them -->
{% extends "baseUser.html" %}
<div class="block_content">
  {% block content %}  
  <form method = "POST">
    {{form.csrf_token}}
    {{form.location_id}}
    <input type="submit">
</form>
<body>
  <h1>Render Folium on Flask 🌏</h1>
  <iframe class="map", src="/map" width="600" height="600"></iframe>
  <h3><b style="background-color: lightcoral; color: lightcyan;">
      Render Folium on Flask done!
  </b></h3>
</body>

  {% endblock %}
</div>

