<!-- This is where the user looks at available scooters and books them -->
{% extends "baseUser.html" %}
<div class="block_content">
  {% block content %}  
  <form method = "POST">
    {{form.csrf_token}}
    <body class = "sl">
    <fieldset class="form-group">
      <div  class="form-group  mx-sm-5 mb-2" style="margin-top:2%;">
        <h2> Scooter location  </h2>
        {{ form.location_id(class_ = "form-control form-control-sm")}}
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary mb-2 btn-block">Confirm and Send</button>
</form>
<body>
  <div class="map">
  <h1>Available locations</h1>
  <iframe class="map", src="/map" width="500" height="500"></iframe>
  <h3><b style="background-color: rgb(255, 255, 255); color: rgb(0, 255, 255);">
  </b></h3>
</div>
</body>
</body>

  {% endblock %}
</div>

