<!-- This is where users can see which scooters they have rented out and where they can return active scooters -->
<!-- We get this info from the sessions table -->

{% extends "baseUser.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/manageSessions.css">
{% endblock %}
  <div class="block_content">

    {% block content %}

        {% if futureSessions|length==0 and activeSessions|length==0 %}
            <p>You have no previous sessions, go get scooting!</p>
        {% endif %}

        {% if futureSessions|length !=0  %}
            <h2>Future Sessions:</h2>
            <table>
            <thead style="display:table-header-group">
             <tr>
                <th class = "first">Scooter ID</th>
                <th class = "second">Start Date</th>
                <th class = "third">End date</th>
                <th class = "fourth">Duration</th>
                <th class = "fifth">Cost</th>

             </tr>
             </thead>
            <tbody>
            {% for s in futureSessions%}
                    <td class = "first">{{ s.scooter_id}}</td>
                    <td class = "second">{{ s.start_date|strftime }}</td>
                    <td class = "third">{{s.end_date|strftime }}</td>
                    <td class = "fourth">{{(s.end_date - s.start_date)|strftime("half")}}</td>
                    <td class = "fifth">{{ "£{:,.2f}".format(s.cost)}}</td>

                        <td>
                         <form action="{{url_for('cancel')}}" name = "statusform" method="post">
                          <input type="hidden" name="cancel" value="{{ s.id }}"/>
                          <input type="submit" class="deletebutton" value="Cancel Booking" name="cancelButton"/>
                        </form>
                        </td>

                    <td>
                        <form action="{{'extendSession/' + s.id|string}}" name = "statusform" method="post">
                        <input type="hidden" name="extend" value="{{ s.id }}"/>
                        <input type="submit" class="deletebutton" value="Extend Booking" name="extendButton"/>
                        </form>
                    </td>

            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <h1>You have no future sessions</h1>
        {% endif %}

        {% if activeSessions|length !=0  %}
            <h2>Active sessions:</h2>
            <table>
             <tr>
                <th>Scooter ID</th>
                <th>Start Date</th>
                <th>End date</th>
                <th>Duration</th>
                <th>Cost</th>

             </tr>
            {% for s in activeSessions%}
                {% if time > s.end_date %}
                    <tr class = "overdue">
                {% else %}
                    <tr class = "on-time">
                {% endif %}
                    <td>{{ s.scooter_id}}</td>
                    <td>{{ s.start_date|strftime }}</td>
                    <td>{{s.end_date|strftime }}</td>
                    <td>{{(s.end_date - s.start_date)|strftime("half")}}</td>
                    <td>{{ "£{:,.2f}".format(s.cost)}}</td>


                {% if s.returned == False %}

                    <td>
                        <form action="{{"returnScooter/" + s.id|string}}" name = "statusform" method="post">
                        <input type="hidden" name="return" value="{{ s.id }}"/>
                        <input type="submit" class="deletebutton" value="Return Scooter" name="returnButton"/>
                        </form>
                    </td>

                    <td>
                        <form action="{{'extendSession/' + s.id|string}}" name = "statusform" method="post">
                        <input type="hidden" name="extend" value="{{ s.id }}"/>
                        <input type="submit" class="deletebutton" value="Extend Booking" name="extendButton"/>
                        </form>
                    </td>
                {% endif %}
                </tr>

            {% endfor %}
            </table>
        {% else %}
            <h1>You have no future sessions</h1>
        {% endif %}


    {% endblock %}
  </div>
