<!-- Let the user change their account details, including their password -->

{% extends "baseUser.html" %}
  <div class="block_content">
    {% block content %}

<form method="post" , action="/userChangePassword">
  {{ form.hidden_tag() }}

    Enter New Password: {{ form.password(class_='form-control') }}
    {% for error in form.password.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    Enter New Password Again: {{ form.password_repeat(class_='form-control') }}
    {% for error in form.password_repeat.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    <input type="submit" class="button" value="Submit">
</form>

    {% endblock %}

  </div>
