<!-- Let the user change their account details, including their password -->
{% extends "baseUser.html" %}
<link rel="stylesheet" href="/static/forms.css">
  <div class="block_content">
    {% block content %}
        <div class="ListScoot">
    <h1>Change details</h1>
        </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<form method="post" , action="/userChangeDetails">
  {{ form.hidden_tag() }}
  <div class="form">
    {{ form.forename(class_='form-control') }}
    {% for error in form.forename.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    {{ form.surname(class_='form-control') }}
    {% for error in form.surname.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    {{ form.email(class_='form-control', type = 'email') }}
    {% for error in form.email.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>

    {{ form.phone(class_='form-control') }}
    {% for error in form.phone.errors %}
    <span class="warning">[{{ error }}]</span>
    {% endfor %}<br>
  </div>
  <div class="button">
    <input type="submit" class="button" value="Submit">
  </div>
</form>

    {% endblock %}

  </div>
