<!-- the basic hompeage for regular users, once logged in of course -->
{% extends "baseUser.html" %}
    {% block content %}

        <h3>Hello, {{ user.forename }}!</h3>

        <p>Welcome to our scooter hiring website.
            Look below to see all of your options, we think you'll find them RAWRsome!</p>
        <br>

        <table id = "userHomepageTable">
            <tr class = "userHomepageHeaders">
                <td>Book A Session</td>
                <td>Manage Active Sessions</td>
                <td>Manage Future Sessions</td>
            </tr>
            <tr class = "userHomepageImages">
                <td><a href="/selectlocation"><img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Open_book_nae_02.svg/2560px-Open_book_nae_02.svg.png"
                                         alt="booking sessions"></a></td>
                <td><a href="/user/activeSessions"><img  src="https://99designs-start-attachments.imgix.net/alchemy-pictures/2017%2F05%2F18%2F00%2F31%2F17%2F46333b20-c0f4-42be-8aee-036f83522356%2FManage-your-business.png?auto=format&ch=Width%2CDPR&fm=png&w=800&h=750"
                                         alt="manage active sessions"></a></td>
                <td><a href="/user/futureSessions"><img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1200px-Magnifying_glass_icon.svg.png"
                                         alt="manage future sessions"></a></td>
            </tr>
            <tr class = "userHomepageHeaders">
                <td>View Previous Sessions</td>
                <td>Account Settings</td>
                <td>Help</td>
            </tr>
            <tr class = "userHomepageImages">
                <td><a href="/user/viewSessions"><img  src="https://cdn4.iconfinder.com/data/icons/business-2-7/512/sand_clock-512.png"
                                         alt="view previous sessions"></a></td>
                <td><a href="/userAccountSettings"><img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Windows_Settings_app_icon.png/640px-Windows_Settings_app_icon.png"
                                         alt="account settings"></a></td>
                <td><a href="/help"><img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/800px-Question_mark_%28black%29.svg.png"
                                         alt="help page"></a></td>
            </tr>
        </table>

    {% endblock %}
