<!-- This is where users can see which scooters they have rented out and where they can return active scooters -->
<!-- We get this info from the sessions table -->

{% extends "baseUser.html" %}
  <div class="block_content">
    {% block content %}

        {% if sessions|length !=0  %}
            <table>
             <tr>
                <th>Scooter ID</th>
                <th>Start Date</th>
                <th>End date</th>
                <th>Duration</th>
                <th>Cost</th>
             </tr>
            {% for s in sessions%}
                 <tr>
                    <td>{{ s.scooter_id}}</td>
                    <td>{{ s.start_date }}</td>
                    <td>{{s.end_date }}</td>
                    <td>{{s.end_date - s.start_date}}</td>
                    <td>{{ "£{:,.2f}".format(s.cost)}}</td>
                 </tr>

                {% if s.returned == False %}

                    {% if s.start_date > time  %} {# Can't cancel a booking that has already started #}
                         <form action="{{url_for('cancel')}}" name = "statusform" method="post">
                          <input type="hidden" name="cancel" value="{{ s.id }}"/>
                          <br />
                          <input type="submit" class="deletebutton" value="Cancel Booking" name="cancelButton"/>
                        </form>
                    {% else %}
                        <p>You can't cancel a session that's already began</p>
                    {% endif %}

                    {% if time > s.end_date %}
                        <p>YOUR SCOOTER SHOULD HAVE BEEN BACK AGES AGO</p> {# this will be changed so that the session is red or something #}
                    {% endif %}

                    <form action="{{"returnScooter/" + s.id|string}}" name = "statusform" method="post">
                  <input type="hidden" name="return" value="{{ s.id }}"/>
                  <br />
                  <input type="submit" class="deletebutton" value="Return Scooter" name="returnButton"/>
                </form>


                    <form action="{{'extendSession/' + s.id|string}}" name = "statusform" method="post">
                  <input type="hidden" name="extend" value="{{ s.id }}"/>
                  <br />
                  <input type="submit" class="deletebutton" value="Extend Booking" name="extendButton"/>
                </form>
                {% endif %}
                <hr class="solid">
                </table>
            {% endfor %}

        {% else %}
            <h1>There are no sessions to show</h1>
        {% endif %}


    {% endblock %}
  </div>
